<div class="container-login" style="--login-background: url('/images/site/loginBackground.png')">
    <form id="loginForm" action="/account/login" method="post">
        <h1>Login to your Account</h1>
        <fieldset id="emailAndpassword">
            <div class="mail-pass">
                <input type="email" name="account_email" required="required" id="email-input">
                <span id="email-label">E-mail</span>
                <i></i>
            </div>
            <div class="mail-pass">
                <input type="password" name="account_password" required="required" id="password-input">
                <span id="password-label">Password</span>
                <i></i>
            </div>
            <input type="submit" class="submitBtn" value="Login">
            <span id="no-account-msg">No account? <a href="#" title="Create your account now!">Sign-up</a></span>
        </fieldset>
    </form>
</div>

<script src="/js/loginScript.js"></script>