<header>
    <div class="top-header">
        <div class="logoImg">
            <img src="/images/site/league-logo.svg" alt="League of Legends Logo">
        </div>
        <%- include('./navigation') %>
    </div>
</header>