body{
    background-color: #121212;
}
.top-header{
    background-color: #1F1F1F;
    display: flex;
    justify-content: space-between;
}
.logoImg{
    width: 14em;
    padding: .5em;
    display: flex; /* Enables flexbox for the container */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically (if desired) */
}
.logoImg img{
    max-width: 100%;
    object-fit: cover;
}
.navBar{
    display: flex;
    padding: 1em;
}
.navBar a{
    text-decoration: none;
    color: #E0E0E0;
    padding: 1em;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.2em;
}
.navBar a li{
    list-style-type: none;
}
a {
  position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #FFC513;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
footer{
    font-family: "Rajdhani", sans-serif;
    background-color: #1F1F1F;
    color: #E0E0E0;
}