<!-- champion details view -->
<%- championBanner -%>

<div class="divisor-svg">
	<img src="/images/site/arrow-down.svg" alt="divisor arrrow down">
</div>

<%- championSpells -%>

<div class="divisor-svg">
	<img src="/images/site/arrow-down.svg" alt="divisor arrrow down">
</div>

<%- championSkins -%>

<script src="../../public/js/championSkins.js"></script>