<!-- champion details view -->
<%- championBanner -%>

<div class="divisor-svg">
	<img src="/images/site/t1HeaderDivider.png" alt="divisor arrrow down">
</div>

<%- championSpells -%>

<div class="divisor-svg">
	<img src="/images/site/t1HeaderDivider.png" alt="divisor arrrow down">
</div>

<%- championStats -%>

<div class="divisor-svg">
	<img src="/images/site/t1HeaderDivider.png" alt="divisor arrrow down">
</div>

<%- championSkins -%>

<!-- Flickity JS -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/championDetails.js"></script>